extends layout

block content
    div#some-wizard.wizard(data-title="Screen Difference")
              h1 Wizard Title
              div.wizard-card(data-cardname='card1')
                h3 Card 1
                    Some other content 
              div.wizard-card(data-cardname='card2')
                h3 Card 2
                    Some other content
            
            


